{% extends 'layout/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/project.css' %}" />
<div class="project-container">
    <div class="issue">
        <h1>{{ issue.issueName }}</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="issue-field">
                <h2>Description:</h2>
                {{ form.description }}
            </div>
            <div class="issue-field">
                <h2>Status:</h2>
                {{ form.status }}
            </div>
            <input type="submit" value="Update" class="submit"/>
            <a href="{{ issue.get_project_url }}">Back</a>
        </form>
    </div>
</div>
{% endblock %}