{% extends 'layout/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/project.css' %}" />
<div class="issue-container">
    <h1>Add Tag</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="issue-field">
            {{ form.name }}
        </div>
        <div class="issue-field">
            <input type="submit" name="Create" class="submit" />
            <a href="{{ issue.get_absolute_url }}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}