{% extends 'layout/base.html' %}

{% block content %}
<h1>Projects</h1>
{% if user.is_authenticated %}
<div>
    {% if project_list.all %}
    <ul>
        {% for project in project_list %}
        <li>{{ project.name }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <div>There are no projects</div>
    {% endif %}
    <a href="{% url 'projects:project-create' %}">Create Project</a>
</div>
{% else %}
<div>
    If you were logged in your projects would go here.
</div>
{% endif %}
{% endblock %}