{% extends 'layout/base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/project.css' %}" />
<title>Project List</title>
<div class="project-container">
<h1>Projects</h1>
{% if user.is_authenticated %}
<div class="project-list">
    {% if project_list.all %}

    {% for project in project_list %}
    <div class="project">
        <h2>{{ project.name }}</h2>
        <div class="project-field">
            <h3>Summary:</h3>
            {{ project.summary }}
        </div>
        <div class="project-field">
            <h3>Status:</h3>
            {% if project.status == 'Closed' %}
            <div class="status-closed">
            {% elif project.status == 'Open' %}
            <div class="status-open">
            {% else %}
            <div class="status-dis">
            {% endif %}
                {{ project.status }}
            </div>
        </div>
        
        <div class="project-field">
            <a href="{{ project.get_absolute_url }}">Select</a>
        </div>
        
        
    </div>
    {% endfor %}
    {% for ProjectForm in membershipset %}
        <div class="project">
            <h2>{{ ProjectForm.project.name }}</h2>
            <div class="project-field">
                <h3>Summary:</h3>
                {{ ProjectForm.project.summary }}
            </div>
            <div class="project-field">
                <h3>Status:</h3>
                {% if ProjectForm.project.status == 'Closed' %}
                <div class="status-closed">
                {% elif ProjectForm.project.status == 'Open' %}
                <div class="status-open">
                {% else %}
                <div class="status-dis">
                {% endif %}
                    {{ ProjectForm.project.status }}
                </div>
            </div>
        
            <div class="project-field">
                <a href="{{ ProjectForm.project.get_absolute_url }}">Select</a>
            </div>
        </div>
    {% endfor %}

    {% else %}
    <div class="project-list">There are no projects</div>
    {% endif %}
     
</div>
    <div>
        <a href="{% url 'projects:project-create' %}" class="project-create">Create Project</a>
    </div>
        
   
{% else %}
<div class="no-projects">
    <label class="no-projects">If you were logged in your projects would go here.</label>
    <div class="no-projects">
        <a href="{% url 'users:user-login' %}">Login</a>
    </div>
</div>
{% endif %}
</div>
{% endblock %}