{% extends 'layout/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/project.css' %}" />

<div class="project-container">
    {% if update == True %}
    <h1>Update Project</h1>
    {% else %}
    <h1>Create Project</h1>
    {% endif %}
    <section class="project-input">
        <form method="POST">
            {% csrf_token %}
            <div class="project-field">
                <h2>Project Name</h2>
                {{ form.name }}
            </div>
            <div class="project-field">
                <h2>Summary:</h2>
                {{ form.summary }}
            </div>
            <div class="project-field">
                <h2>Description:</h2>
                {{ form.description }}
            </div>
            <div class="project-field">
                <h2>Status:</h2>
                {{ form.status }}
            </div>
            <div class="project-field">
                <input type="submit" name="Create" class="submit" />
                <a href="../">Cancel</a>
            </div>
            <div class="project-field">
                {% for message in messages %}
                <label class="error">{{message}}</label>
                {% endfor %}
            </div>
        </form>
    </section>
</div>
{% endblock %}