<nav class="navbar">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'projects:project-list' %}">Projects</a>
    <section class="user-manage">
        {% if request.user.is_authenticated %}
        <label class="user">Hello, {{ request.user }}</label>
        <a href="{% url 'users:user-logout' %}" class="user-manage">Logout</a>
        {% else %}
        <a href="{% url 'users:user-login' %}" class="user-manage">Login</a>
        <a class="user-manage" href="{% url 'users:user-register' %}">Register</a>
        {% endif %}
    </section>
</nav>