body {
    margin: 0px;
    background-color: white;
    padding: 0;
}

.navbar {
    background-color: dimgrey;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.navbar a{
    float: left;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

.home-container a {
    text-align: center;
    padding: 10px 15px;
    background-color: dimgrey;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: hidden;
    font-size: 40px;
}

.home-field {
    margin-bottom: 25px;
    text-align: center;
}

.user-manage {
    float: right;
}

.user {
    color: white;
    float: left;
    padding: 10px 15px;
}

.navbar a:hover {
    background-color: lightgrey;
    color: black;
}

.home-container {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.home-text {
    font-size: 30px;
}
