body {
    margin: 0px;
    background-color: white;
    padding: 0;
}

.navbar {
    background-color: #35D0BA;
    display: block;
    width: 100%;
    overflow: hidden;
}



.nav-container a, .nav-title a{
    float: left;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 24px;
}

.user {}

.nav-title a{
    font-size: 50px !important;
}

.nav-container a:hover, .home-container a:hover {
    background-color: #72decf;
    color: black;
}

.nav-container, .nav-title {
    width: 100%;
    display: inline-block;
}

.nav-container {
    margin-left: 15px;
}

.home-container a {
    text-align: center;
    padding: 10px 15px;
    background-color: #35D0BA;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: hidden;
    font-size: 40px;
    white-space: nowrap;
}

.home-field, .home-button {
    text-align: center;
}

.home-button {
    display: inline-block;
    margin-bottom: 25px;
}

.user-manage {
    float: right;
    margin-right: 15px;
}

.user {
    color: white;
    float: left;
    padding: 10px 15px;
    font-size: 24px;
}

.home-container {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.home-text {
    font-size: 30px;
}
