.project-field-label {
    display: block;
}

.project-list { 
    justify-content: center;
    margin-bottom: 20px;
}

.project-container, .issue-container {
    padding: 20px;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100%;
    background-color: #c2f1ea;
}

.project-container a, .submit, .issue-container a {
    text-align: center;
    padding: 10px 15px;
    background-color: #35D0BA;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: hidden;
    white-space: nowrap;
    font-size: 20px;
}

.project-container a:hover, .submit:hover, .issue-container a:hover {
    background-color: #72decf;
    color: black;
}

.tag a, .user-field a {
    padding: 0;
    padding-top: 1px;
    color: black;
    background-color: #c2f1ea;
    font-size: 15px;
}

.tag label {
    font-size: 20px;
}

.tag a:hover, .user-field a:hover {
    color: red;
    background-color: #c2f1ea;
}

.tag, .user-field {
    margin-bottom: 5px;
    font-size: 15px;
    height: fit-content;
}

textarea {
    width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 15px;
    resize: none;
    padding: 5px;
    background-color: #ebfaf8;
}

input[type='text' i], select, select:active, select:hover {
    border-radius: 10px;
    padding-left: 3px;
    background-color: #ebfaf8;
}

select:focus {
    border-radius: 10px 10px 0px 0px;
}

.issue-details, .issue-tags, .project-details, .project-users {
    display: inline-block;
    width: 65%;
    height: auto;
    vertical-align: top;
    
}

.issue-details, .project-details {
    border-right: 1px solid;
}

.issue-tags, .project-users {
    width: 30%;
    margin-left: auto;
    margin-right: 0px;
}

.no-projects {
    display: block;
    margin-bottom: 20px;
}

.project-input, .issue-input {
    justify-content: center;
}

.project-field, .issue-field {
    display: block;
    padding: 5px;
    margin-bottom: 10px;
}

.status-closed {
    color: red;
    border-color: red;
}

.status-open {
    color: green;
    border-color: green;
}

.status-dis {
    color: #b0c4de;
    border-color: #b0c4de;
}

.status-closed, .status-open, .status-dis, .tag, .user-field {
    width: fit-content;
    border: 2.5px solid;
    padding: 2px 5px;
    border-radius: 10px;
}

.project, .issue, .comment, .comment:last-of-type {
    display: block;
    border-bottom: 1px solid;
    padding: 15px;
}

.comment {
    border-bottom: 0;
}

.comment:first-of-type {
    margin-top: 10px;
}

.project:last-of-type, .issue:last-of-type {
    border-bottom: 0px;
}

.comment-description, .comment-timestamp {
    display: inline-block;
}

.comment-description {
    overflow-wrap: break-word;
    width: 70%;
    margin-left: 0px;
    margin-right: auto;
}
.comment-timestamp {
   vertical-align: top;
   margin-right: 0px;
   margin-left: auto;
   text-align: right;
   width: 30%;
   float: right;
}

.no-comments, .no-tags, .tag-list {
    padding-left: 5px;
}

.no-comments {
    margin-top: 15px;
}

.comment-list, .issue-list {
    padding: 10px;
}

h1 {
    margin-top: 0;
    margin-bottom: 15px;
}
h2, h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.error {
    color: red;
}