{% extends 'layout/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/project.css' %}" />

<div class="project-container">
    <h1>Add User</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="project-field">
            {{ form.username }}
        </div>
        <div class="project-field">
            <input type="submit" name="adduser" class="submit" />
            <a href="{{ project.get_absolute_url }}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}